BasedOnStyle: llvm
ColumnLimit: 80
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: All
AllowShortLoopsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
StatementMacros: 
  - 'cs_mls'
  - 'cs_bootstrap'
